
<!DOCTYPE html>
<html>
  <head>
    <title>Codeswitch</title>
  </head>
  <body>
    <div>Click a link below to see different approaches we tried!</div>
    <a href="{% url '3s_retry_recorder' %}">4.5s Periodic Retrial And Correction</a>
    <br>
    <a href="{% url '6s_retry_recorder' %}">9s Periodic Retrial And Correction</a>
    <br>
    <a href="{% url 'entire_retry' %}">Entire Audio Retrial</a>
    <br>
    <a href="{% url 'silent_chunking' %}">Silent Chunking</a>
    <br>
    <a href="{% url 'combined_model' %}">Two Single Language ASR Model</a>
    <br>
    <a href="{% url 'silent_web_audio_api' %}">Silent Web Audio API</a>
  </body>
</html>
